/****************************************************************

	Importing plugins
	- susy: grids
	- compass: css3 and some other helpers

****************************************************************/
@import 'susy';
@import 'compass';

/****************************************************************

	BASIC CONFIG AND HELPERS
	- reset
	- grid and typography
	- colors
	- custom mixins
	- general elements

****************************************************************/

@import 'partials/reset';
@import 'partials/grid';
@import 'partials/colors';
@import 'partials/mixins';
@import 'partials/general';


html {
	background: $background-color url(../images/background1.jpg) no-repeat fixed 0 0;
	@include background-size();
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: $main-font;
	font-size: $default-fsize;
	line-height: $baseline;
	color: $text-color;
	@include background-image(linear-gradient(transparent 10%, #392b2d 70%));
	background-attachment: fixed;
	max-width: 1400px;
	min-width: 900px;
}

.container {
	@include container;
	height: 100%;
	padding-bottom: $baseline*5;
}

#content {
	width: 100%;
	min-height: 100%;
//	margin-top: $baseline*9;
	position: relative;
	@include pie-clearfix;
	clear: both;
}


/****************************************************************
	
	GLOBAL SECTIONS
	- header: quote and page titles
	- navigation: fixed top bar
	- footer
	– cart: top right cart module

****************************************************************/

@import 'partials/header';
@import 'partials/nav';
@import 'partials/footer';


/****************************************************************
	
	GLOBAL MODULES
	- modules: categories, products and such
	– cart: top right cart module
	– forms: form and single form pages

****************************************************************/

@import 'partials/modules';
@import 'partials/cart';
@import 'partials/forms';



/****************************************************************
	
	PAGE SPECIFICS
	- home
	- shop
	- corporate
	- our coffee

****************************************************************/

@import 'partials/home';
@import 'partials/shop';
@import 'partials/subscription';
@import 'partials/corporate';
@import 'partials/our-coffee';
@import 'partials/profile';
@import 'partials/pages';


/****************************************************************

	JS
	styling and fallback

****************************************************************/


.js {
	@import 'partials/js';
}



/****************************************************************

	PRINT
	The music of pandaria

****************************************************************/
@import 'partials/print';


/****************************************************************
	
	CROSS-BROWSER
	should've just called ie8+

****************************************************************/
@import 'partials/ie8';

