//color vars
$text-color: #f3f4ee;
$dark-text-color: #2c292d;
$background-color: #392b2d;
$box-color: #ded6b9;
$hover-link-color: #aba686;
$hover-box: #a9c0bc;

$top-brown: #35282a;
$accent-color: #e0a4bf;

