.corporate {
	#content {
		@include span-columns(4);
	}

	#media {
		@include span-columns(6);
		margin-top: $baseline*15
	}

	.module {
		@include span-columns(4 omega, 4);
	}

}

#sfeer {
	margin-bottom: $baseline*2;

	.carousel-list {
		li {
			width: 545px;
			overflow: hidden;
		}

		img {
			width: 100%;
		}
	}
}

#corporate-locator {
	p {
		background: $box-color;
		color: $dark-text-color;
		padding: $baseline;
	}

	img { display: block; }
}

#wholesale {
	@include smooth;

	.title, .main {
		background: $background-color;
		color: $text-color;
	}

	.main {
		background: $background-color url(../images/espresso-logo.png) no-repeat 95% 85%;
		padding-bottom: $baseline*12;
	}

}
