/**
 *
 * DropKick
 *
 **/


.dk_container {
	display: none;
	float: left;
	position: relative;
	
	a {
		outline: 0;
	}
}
  

.dk_toggle {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
}

.dk_open {
	position: relative;
	
	.dk_options { display: block }
	.dk_label { color: inherit }
}


.dk_options {
	display: none;
	margin-top: -1px;
	position: absolute;
	right: 0;
	width: 100%;
	
	a {
		&:link, &:visited {display: block}
	}
}

.dk_options_inner {
	overflow: auto;
	position: relative;
}

.dk_options { overflow: hidden; }

.dk_touch .dk_options {
	overflow: hidden;
	
	.dk_options_inner {
		max-height: none;
		overflow: visible;
	}

}


.dk_fouc select {
	position: relative;
	top: -99999em;
	visibility: hidden;
}
