#info {
	position: relative;
	width: 95%;
	min-height: 130px;
	padding: $baseline 0 $baseline 5%;
	border-top: 1px solid #fff;
	font-size: 0.9em;
	
	address {
		@include span-columns(2);
		font-style: normal;
		margin-right: 14px
	}
	
	em {
		display: block;
		margin-bottom: $baseline/2;
		font-weight: 800;
		font-style: normal;
		
	}
	
	h1 {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 10px;
		font-weight: 600;
		text-transform: none;
		line-height: $baseline;
	}
	
	p.mail { margin-top: $baseline }
	
	#meta {	@include span-columns(1) }
	
	.social {
		position: absolute;
		top: -$baseline*6; right: 5%;
		width: 140px;
		li {
			float: left;
			margin-right: gutter(1)/2;
			&:last-child { margin: 0 }
		}
	}
}
