.default-form {
	position: relative;

	h1.title {
		padding: 0;
		margin-bottom: $baseline/2
	}

	h2.title {
		margin: $baseline 0 $baseline/2 0;
		padding: 0;
	}

	.subscription {
		margin-top: $baseline;
		clear: both;
	}

	.control {
		label {
			width: 20%;
			float: left;
			clear: left;
			text-align: right;
			margin-right: 5%;
			margin-bottom: $baseline;

			&.checkbox-label {
				width: 80%;
				text-align: left;

				input {
					width: 20px;
					margin-bottom: 5px;
					border: 0;
				}
			}
		}
		
		input {
			width: 60%;
			float: left;
		}

		.file-input {
			border: 0;
		}
	}

	a {
		color: $dark-text-color;
		text-decoration: underline;
	}

	fieldset {
		margin-top: $baseline;
	}
	
	.info {
		display: block;
		clear: both;
	}
	
	.facebook-login {
		@include display-font;
		position: absolute;
		right: $baseline*2;
		bottom: $baseline*5;
		text-align: right;
		clear: both;
	}
}

.form {

	#content {
		margin-top: $baseline*3;
	}

	.main {
		width: 30%;
		margin: 0 auto;
	}

	.main, .title {
		background: #fff;
	}
}

.register {
	.default-form {
		fieldset {
			padding-bottom: $baseline*3;
		}

	}
}
