.outline { 
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

a {
	color: $text-color;
	text-decoration: none;
	&:hover { text-decoration: none; color: $hover-link-color }
}

.close {
	cursor: pointer;
}

textarea, input, select {
	border: 1px solid #534849
}

figure { overflow: hidden }

.title { 
	@include title-box(80px);
	line-height: 28px;
	
	&.sub {
		background-color: transparent;
	}
}

.btn {
	@include display-font;
	border: 0;
	background: $background-color;
	color: $text-color;
	padding: $baseline/2;
	cursor: pointer;
	
	&:after {
		content: ' }';
	}

	&:hover {
		background: $text-color;
		color: $background-color;
	}
}

.horizontal-dl {
	dt {
		font-weight: 800;
		display: inline;
		&:after {
			content: ': ';
		}
	}

	dd {
		display: inline;
		&:after {
			content: ' ';
			display: block;
			margin-bottom: $baseline/2;
		}
	}
}

.tooltip {
	position: relative;
	&:hover {
		.tooltip-text { display: block; }
	}

}

.tooltip-text {
	background-color: #f6f6f6;
	position: absolute;
	z-index: 9;
	text-transform: none;
	padding: rhythm() 2em;
	width: 80%;
	display: none;
}
