// ---------------------------------------------------------------------------
// Imports


@font-face {
    font-family: 'bacchiregular';
    src: url('../type/bacchi-webfont.eot');
    src: url('../type/bacchi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/bacchi-webfont.woff') format('woff'),
         url('../type/bacchi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 5%;
$container-style: fluid;

$show-grid-backgrounds: true;

//typography vars
$main-font: 'Helvetica Neue', Arial, sans-serif;
$display-font: 'bacchiregular', Arial, sans-serif;

$default-fsize: 11px;
$title-fsize: 23px;
$baseline: 14px;


//common properties
$bacchi-shadow: #111 2px 2px 10px;



