#intro {
	width: 90%; 
	height: 50px;
	min-width: 900px;
	position: fixed; top: 0; z-index: 5;
	padding: 0 5% 10px 5%;
	background: $top-brown;
	@include background-image(linear-gradient(#3b2d2e, #302627));
	@include box-shadow($bacchi-shadow);
	border-top: 2px solid #4b3b3c;
	
	h1 {
		float: left;
		margin-right: 5%;
		line-height: $baseline*5
	}
}


#sub-page-title, #page-title, #quote {
	clear: both;
	margin-top: $baseline*8;
	
	blockquote span {
		@include display-font;
		@include brown-box-text;
	}
		
	.author {
		display: inline-block;
		padding: 0.25em 12px;
		background: $background-color;
		position: relative;
		top: -5px;
		z-index: 1;
		@include box-shadow(#111 4px 5px 5px);
	}
	
}

#page-title, #sub-page-title {
	@include display-font;
	@include brown-box-text;
	@include smooth;
	margin-top: $baseline*8;
	margin-bottom: $baseline*4;
	float: left;

}

#sub-page-title{
	margin-top: $baseline*-3;
	margin-bottom: $baseline*6
}
