.home {
	.shoplist {
		@include span-columns(12);
	}

	#subscription {
		img {
			display: block;
			margin: $baseline auto;
		}
	}

	#content {
		margin-top: $baseline*15;
	}
}

#subscription {
	
}

#calculator {
	@include span-columns(3 omega);
	height: 275px;
	min-width: 240px;
	max-width: 260px;
	padding: $baseline/2;
	background: $background-color;
	color: $box-color;
	margin-top: $baseline*3;
	@include box-shadow($bacchi-shadow);

	
	.title {
		margin-bottom: $baseline;
		background: transparent;
		color: $text-color;
	}
	
	form { 
		padding: 0 $baseline/2; 
	}
	
	fieldset {
		position: relative;
		& > div {
			height: 30px;
			margin-bottom: 4px;
			position: relative;
		}
	}
	
	select {
		width: 90px;
		float: right;
		position: relative;
		top: 5px;
	}
	
	label {
		display: block;
		position: absolute;
		top: 7px;
		width: 120px;
		text-align: right
	}
	.result {
		height: $baseline*3;
	}
	
	
	output {
		@include input-box;
		font-style: italic;
		font-weight: 800;
		position: absolute;
		right: 0; top: 8px;
	}
	
	button {
		background: 0;
		border: 0;
		padding: 0;
		margin: $baseline/2 0;
		color: $box-color;
		@include display-font;
		@include symbol-right;
	}
	
	
}

#store-locator {
	height: 234px;
	@include span-columns(2);
	width: 150px;
	margin-top: $baseline*4;
	padding-top: $baseline;
	background: transparent url(../images/locator-marker.png) no-repeat 0 0;
	
	p {
		width: 70px;
		margin-left: 40px;
		text-transform: none;
		margin-top: $baseline
	}
	
	.title {
		background: none;
		padding: 0;
		color: #fff;
		width: 70px;
		margin: 18px 0 0 38px;
		line-height: $baseline*1.5
	}
	
	
}

#highlight {

}

#bacchi-date {
	@include span-columns(3 omega);
	display: block;
	clear: both;
	position: relative;
	margin-left: space(10);
	margin-bottom: $baseline*6;

	
	#date-anchor, section {
		background: #fff;
		@include box-shadow($bacchi-shadow);
		color: $background-color;
	}
	
	h1 { text-transform: none }
}

#date-anchor {
	width: 145px;
	display: block;
	position: relative;
	height: $baseline*8;
	padding: $baseline/2;
	margin-top: $baseline*-5;

	
	p {
	    width: 70px;
	    margin-top: $baseline;
	    
	    &:after {
	    	content: '__________ __________ __________';
	    	width: 70px;
	    	height: $baseline*5;
	    	position: absolute;
	    	top: $baseline*3; right: -$baseline/2;
	    	border-left: 1px solid $background-color;
	    	padding-left: $baseline;
	    	font-family: 'bacchiregular', Arial, sans-serif;
	    }
	}
		

}

#bacchi-map {
	width: 350px;
	height: 350px;
	border: 10px solid rgba($box-color, 0.5);
	@include box-sizing(border-box);
}

#date-creator {
	width: 306px;
	height: $baseline*25;
	padding: $baseline;
	position: absolute; right: 0; bottom: 0;
	@include pie-clearfix;
	
	.close {
		position: absolute;
		right: 0; top: 0;
		padding-top: 0;
	}
	
	#message {
		width: 135px;
		padding-right: $baseline;
		margin-right: $baseline;
		float: left;
		border-right: 1px solid $background-color;
		height: $baseline*23;
	}

	.control {
		float: left;
	}
	
	#user-data {
		width: 137px;
		padding-top: $baseline*6;
	}
	
	textarea, input {
		border: 0;
		width: 100%;
		color: $background-color;
		@include input-placeholder;
		margin-bottom: $baseline;
	}
	
	textarea {
	    margin-top: $baseline*4;
	    height: $baseline*8;
	}
	
	input {
		height: $baseline*2 + 2;
		border-bottom: 1px solid $background-color;
		
	}
	
	button {
		@include display-font;
		border: 0;
		color: #fff;
		padding: $baseline/2;
		background: $background-color;
		float: right;
		
	}
	
	
}

#highlight {
	margin-top: $baseline*5;
	margin-left: space(1);
	
	.main .title:after {
		content: ' }';
	}

	img {
		width: 100%;
		display: block;
	}
}

#fair-trade-link, #coffee-kids-link {
	position: absolute;
	bottom: 0;
	left: 0;
	@include box-shadow($bacchi-shadow);
	img {
		width: 50px;
	}
}

#coffee-kids-link {
	left: 90px;
	img {
		width: 70px;
	}
}

#editorial {
	@include span-columns(4);
	margin-top: $baseline*-5;
	
	& > h1 {@include title-box;}
	
	article {
		padding-bottom: $baseline;
		color: $background-color;
		background-color: $box-color;
		@include box-shadow($bacchi-shadow);
		
		h1, p {
			text-transform: none;
			padding: $baseline/2 10px;
		}
		
		p a {
			text-decoration: underline;
			&:hover {text-decoration: none;}
		}
	}
	
	img { width: 100% }
	
	a { color: $background-color }
}

#video {
	@include span-columns(5 omega);
	max-width: 389px;
	margin-right: space(1);
	margin-left: space(8);
	margin-top: $baseline*5;
	iframe {
		@include box-shadow($bacchi-shadow);
	}	
	
	& > h1 {@include title-box;}
}

