.no-scroll {
	overflow: hidden;
}

.overlay {
	position: fixed; z-index: 5;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow-x: auto;
	overflow-y: scroll;
	min-width: 100%;
	min-height: 100%;
	background: rgba(lighten($text-color, 80%), 0.7);
	padding-bottom: 16px;

	&.focus {
		z-index: 11
	}
}


.internal-padding {
	margin: $base-line-height -1px $base-line-height 0 ;
}

.modal {
	width: 50%;
	min-width: 220px;
	position: absolute; z-index: 10;
	background: #fff;
	padding: rhythm(2);
	left: 50%;
	margin-left: -25%;

	&#bacchi-map {
		width: 50%;
		display: block;
	}
}


.map-info {
	color: $dark-text-color;
	
	.map-title {
		@include display-font;
	}
}

.close-map {
	position: absolute;
	z-index: 11;
	top: 5px;
	right: 5px;
	color: $dark-text-color;
	font-size: 2em;
}

#bacchi-map {
	display: none;
}




/****************************************************************

	jcarousel

****************************************************************/


.carousel {
    position: relative;
    overflow: hidden;
    height: $baseline*25;
}

.carousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel li {
    float: left;
}

.carousel-nav {
	
}

.btn-prev, .btn-next {
	@include display-font;
	font-size: 40px;
	position: absolute;
	z-index: 4;
	bottom: 48%;
}

.btn-prev {
	left: 20px;
}

.btn-next {
	right: 20px; 
}

/****************************************************************

	dropkick (<select> replacement) styling

****************************************************************/


//default styles
@import 'partials/dropkick';


//customization
.dk_container {
	float: right;
	background: $box-color;
	height: 30px;
	cursor: pointer;
	
	a {
		@include input-box;
	}
	
	
	.dk_label:after {
		content: ' ▼';
		display: block;
		position: absolute;
		right: 10px; top: 8px;
		-webkit-transform: scaleY(0.6);
	}
	
	.dk_options {
		z-index: 10;

		a:hover, .dk_option_current a {
			background: lighten($box-color, 15%);
		}
	}
	
	&:after {
		content: ' ▼';
		display: block;
		color: $box-color;
		position: absolute;
		right: 45px; bottom: -9px;
		-webkit-transform: scaleY(0.6);
	}
}


#dk_container_choose-location { 
	a { width: 120px }
	&:after { content: '' }
}


