@mixin input-placeholder($color: #999) {
	&.placeholder { color: $color; font-style: italic; }
	&:-moz-placeholder { color: $color; font-style: italic; }
	&::-webkit-input-placeholder { color: $color; font-style: italic; }
 }

@mixin display-font ($size: $title-fsize, $line: $baseline*1.5, $transform: lowercase) {
	font-weight: 400;
	font-size: $size;
	line-height: $line;
	font-family: 'bacchiregular', Arial, sans-serif;
	text-transform: $transform;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


@mixin title-box($width: auto) {
	display: table;
	background: $box-color;
	@include display-font;
//	text-align: center;
	padding: 3px 10px;
	color: $background-color;
	text-transform: lowercase;
	position: relative; z-index: 1;
    
	a { color: $background-color; }
}

@mixin symbol-right($symbol: " }") { &:after{ content: $symbol } }

@mixin brown-box-text {
	font-size: 3.2em;
	line-height: $baseline*3;
	display: inline-block;
	width: auto;
	margin: 0 0 5px 0;
	font-weight: 100;
	padding: $baseline/4 12px;
	
	background: $background-color;
	
	@include box-shadow($bacchi-shadow);
}

@mixin input-box($width: 80px) {
	width: $width;
    padding: 8px 10px;
    border: 0;
    color: $dark-text-color;
    display: block;
    background: lighten($box-color, 7.5%);
}

@mixin smooth {
	-webkit-font-smoothing: antialiased;
}
