.shoplist {
	height: 245px;
	margin-bottom: $baseline*4;
	color: $dark-text-color;
	
	a { color: $dark-text-color }
	
	h1 {
		padding: $baseline/2 10px;
		font-family: $display-font;
		font-size: 24px;
		line-height: $baseline*2;
	}

	figure {
		text-align: center;
		vertical-align: middle;
	}
	
	.product, .product-category {
		@include span-columns(2);
		min-width: 145px;
		max-width: 150px;
		margin-bottom: $baseline;
		position: relative;
		//overflow: hidden;
		@include box-shadow($bacchi-shadow);
		
	}

	.product {
		margin-top: $baseline*3;
	}

	.product-title {
		border-top: 3px dotted $background-color;
		background: #fff;

		&.category {
			border: 0;
			background: none;
			color: $text-color;
			position: relative;
			height: 0;
			margin: 0;
			padding: 0;
			float: left;
		}
	}
		
	.product-thumbnail {
		line-height: 0;
		img { width: 100%; }
	}

	.product-description, .product-info, .buy-form {
		background: #fff;
		padding: $baseline;
	}

	.weight {
		font-weight: 800;
	}

	.price {
		float: right;
		margin-top: -$baseline;
		strong {
			font-family: $display-font;
			font-size: 30px;
			font-weight: 400;
			&:before {
				content: '€ ';
				font-size: 12px;
			}
		}
	}

	.buy-form {
		@include pie-clearfix;
		input {
			border: 0;
			background: $box-color;
			width: 20px;
			height: 35px;
			padding: 0 $baseline/2;
			text-align: center;
			float: left;
		}
		.btn {
			float: right;
			height: 35px;
		}

		.dk_container {
			background: $hover-box;
			margin-top: $baseline;
			a {
				background: $hover-box;
				text-decoration: none;
				width: 97px;
			}
			a:hover, .dk_option_current a {
				background: lighten($hover-box, 15%) !important;
			}
			&:after { content: '' }
		}

	}

	//********
	// 
	// listing of product categories (home and shop.front)
	// product-category children
	//
	//*************


	.excerpt {
		padding: 0 10px;
	}
	
	.description {
		@include span-columns(3);
		min-height: 200%;

		p { 
			padding: $baseline/2 1em;
			background: $box-color;
		}



	}

	#product-list {
		margin-left: space(3);
		width: space(8);
	}

	&#webshop {
		.product-category {
			background: $box-color;
		
			&:hover {
				background-color: #847f73;
				a, h1, p {
					color: #fff;
					@include smooth;
				}
			}
		}
	
	
	}


	&#subscription {
		.product-category, .description p, .title, .excerpt {
			background: $hover-box;
		}
		
		.description {
			a.title {
				padding-left: 0;
				&:after {
					content: ' }';
				}
			}
		}

		.title {
			padding-bottom: 0;
		}

		a.btn {
			display: block;
			width: 95px;
			margin: $baseline;
			color: #fff;

			&:hover {
				background: darken($hover-box, 10%);
				color: $dark-text-color;
			}
		}


	}

}

.module {
	@include span-columns(4);
	margin-bottom: $baseline*2;

	.title {
		@include title-box(80px);
	}

	.main {
		background: $box-color;
		color: $dark-text-color;
		padding: 20px;
		@include box-shadow($bacchi-shadow);
		@include pie-clearfix;
	}

	h1 {
		font-weight: 800;
		margin-top: 1em;

		&:first-child {
			margin: 0;
		}
	}

	.btn {
		float: right;
	}

	&.dark {
		.main, .title {
			background: $background-color;
			color: $text-color;
			@include smooth;
		}
	}

	&.white {
		.main, .title {
			background: #fff;
		}
	}

}


