#top-nav {
	width: 260px;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	margin-left: -100px;
	top: 18px;
	@include display-font;
	
	h1 { display: none }
	
	li {
		display: inline;
		margin-right: 2.5%;

		&:last-child {
			margin: 0;
		}
	}
	a { font-size: 18px; }
}
