.our-coffee {
	
	#video {
		@include span-columns(6);
		width: 589px;
		max-width: 589px;
//		height: 450px;
		margin: 0;
		
		.main {
			background: $dark-text-color;
			width: 509px;
			padding: 0 40px;
			position: relative;
		}

		.carousel {
			height: 115px;
			width: 457px;
			margin: 0 0 $baseline*3 29px;
		}

		.carousel-list {
			background: $dark-text-color;
			padding: $baseline 0;
			height: $baseline*6;

			li {
				width: 105px;;
				height: $baseline*5;
				margin-right: $baseline;
			}
		}
	}

	#editorial {
		margin: 0;
		clear: left;
	}
	
	#roasting, #fair-trade, #coffee-kids {
		@include span-columns(3 omega);
		margin-right: space(1);

		.main, .title {
			p { margin-bottom: $baseline; }
		}
		
		.main .title {
			padding: 0;
		}
	}

	#our-moments {
		@include span-columns(3);
		clear:left;

		.main, .title {
			background: $accent-color;
		}

		li {
			@include display-font;
			margin-top: $baseline/3;
		}

		a {
			color: $dark-text-color;
			&:hover { color: $text-color; }
			&:after { content: ' }'; }
		}
		
	}

	#bacchi-moments {
		margin-left: space(2);
		@include span-columns(6);
		position: relative;

		.carousel-item {
			width: 545px;
			overflow:hidden;
		}

		img {
			width: 100%;
		}
		
	}
}
