.profile {

	#calendar {
		clear: both;
		padding-top: $baseline;

		.title {
			padding: 0;
			margin-bottom: $baseline;
		}
		
		ol {
			margin-bottom: $baseline*2;
		}

		li {
			margin-bottom: $baseline/2;
		}

		h3 {
			font-weight: 800;
		}

		h4, h5 {
			font-style: italic
		}
		p {
			margin-top: $baseline;
		}

		strong {
			font-weight: bold;
		}

	}
}
