.shop {

	&.front {
		#subscriptions {
			li { top: 34px; }
		}
		
		.shoplist > h1 {
			margin-left: space(3);
		}
	}

	&.inside {
		#webshop {
			.product-thumbnail {
				height: auto;
				display: block;
			}

			figure {
				height: auto;
				line-height: 0;
			}
		}
	}
}


#cart-list {
	background: #fff;
	border-top: 3px dotted $background-color;
	
	.sub.title {
		margin: $baseline/2 0;
		text-transform: none;
		background: #fff;
	}

	p {
	}

	.cart-product {
		margin: $baseline/2 $baseline;
		padding-bottom: $baseline;
		position: relative;
		border-bottom: 1px solid $dark-text-color;

		&:last-child {
			padding-bottom: $baseline*3;
			border-bottom: 2px solid $dark-text-color;
		}

		p.cart-product-info, p.cart-product-amount {
			background: #fff;
			padding: 0;
		
		}
	}

	.cart-product-name, .cart-product-total {
		font-weight: 800;
	}

	.cart-product-total {
		float: right;
		margin-top: -$baseline;
	}

	.remove-product {
		font-size: 17px;
		position: absolute;
		font-weight: 800;
		top: 0;
		right: 0;
	}
	
	.cart-checkout {
		padding: $baseline;
		
		h3 {
			font-weight: 800;
		}
	}

	.grand-total {
		font-family: $display-font;
		font-size: 30px;
		font-weight: 400;
		float: right;

		&:before {
			content: ' €';
			font-size: 12px;
		}
	}

	.btn {
		float: right;
		clear: both;
		margin-top: $baseline;
	}


}


#webshop {
	article h1 { 
		line-height: 21px;
		@include symbol-right;
		font-size: 23px;
		margin-top: -1px;
	}
	
	.product-category {
		padding: 20px 0 0 0;
		height: 225px;
	
		&:hover {
			h1 {
				background-color: $hover-box;
				background-position: 0 -191px;
			}
		}
	}

	.product-category h1 {
		background: $box-color url(../images/categories-sprite.jpg) no-repeat 0 0;
		padding: 152px 10px 0 10px;
	}

	.tea { 
		h1 { background-position: -157px 0; }
		&:hover h1 { background-position: -157px -191px; }
	}
	
	.machines { 
		h1 { background-position: -320px 0 }
		&:hover h1 { background-position: -320px -191px; }
	}
	
	.accessories { 
		h1 { background-position: -484px 0 }
		&:hover h1 { background-position: -484px -191px; }
	}

	.gifts {
		h1 { background-position: -630px -4px }
		&:hover h1 { background-position: -630px -191px; }	
	}

	figure {
		width: 100%;
		height: 175px;
		line-height: 175px;
	}

	.description { margin-top: -33px }
}

