.subscription-page {
	
	.title, .main {
		background: $hover-box;
	}

	#content {
		float: left;
		width: 55%;
		margin-right: 5%;
		clear: left;


		#concept {
			width: 100%;
			float: none;
			display: block;

			img { 
				width: 100%;
				margin: $baseline auto;
			}

			.main {
				.title:after {
					content: ' }';
				}
			}
		}
		
		}
		.product-category {
		
			&:last-child {
				margin: 0;
			}

			img {
				display: block;
				margin: $baseline auto;
			}

	
	}
		

}
